*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  width: 100%;
  display: block;
}
.app {
  padding-bottom: 100px;
}
