.search-wrapper {
  margin: 40px auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 20%;
}
.search {
  width: 60%;
}
.search > form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search > form > input {
  padding: 0 10px;
  width: 60%;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.search > form > input:focus {
  box-shadow: 0 0px 4px 0px rgb(29, 66, 230);
}
.search > form > button {
  background-color: #eee;
  height: 40px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 20%;
  transform: translate(0, 0);
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
::placeholder {
  font-size: 17px;
}
.search > form > button:hover {
  border: 1px solid rgb(77, 77, 77);
}
.cart-shop {
  width: 20%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .search-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
  .logo {
    width: 30%;
  }
  .logo > img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .search {
    width: 100%;
  }
  .search > form > input {
    width: 100%;
  }
  .search > form > button {
    left: 0%;
  }
  .cart-shop {
    width: 100%;
  }
}
